.App {
  text-align: center;
  padding-top: 20px;;
}

.container{
  background-color: lightblue;
  margin: 10%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-areas:"a b c";
  border-radius:15px
}
.col-a{
  grid-area: a;
  
}
.col-b{
  grid-area: b;
}
.col-c{
  grid-area: c;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
